<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="topics">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Discussion</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="bus-arrival">
      <ion-icon name="time"></ion-icon>
      <ion-label>Bus Arrival</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
