<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmCjZVJvI5h2Qg7XcdI9jTFjyK-IgzyQk&libraries=places,geometry" type="text/javascript"></script>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="map"></div>

<!--  <ion-button size="default" routerLink="/menu/home/tabs/dashboard/details" routerDirection="forward">-->
<!--    Details Forward-->
<!--  </ion-button>-->

<!--  <ion-button size="default" (click)="startTracking()" *ngIf="!isTracking">-->
<!--    <ion-icon name="locate"></ion-icon>-->
<!--    Start Tracking-->
<!--  </ion-button>-->
<!--  <ion-button size="default" color="danger" icon-left (click)="stopTracking()" *ngIf="isTracking">-->
<!--    <ion-icon name="hand"></ion-icon>-->
<!--    Stop Tracking-->
<!--  </ion-button>-->



</ion-content>
